@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Inter&display=swap');
@import url('./toast.css');
@import url('./forms.css');
@import url('./buttons.css');
@import url('./modal.css');
@import url('./logout.css');

:root {
  --brand100: #364FC7;
  --brand200: #3B56D9;
  --gray100: #212529;
  --gray200: #343A40;
  --gray300: #495057;
  --gray400: #868E96;
  --gray500: #ADB5BD;
  --gray600: #E9ECEF;
  --gray700: #F1F3F5;
  --gray800: #F8F9FA;
  --gray900: #FCFEFF;
  --alert100: #C73650;
  --alert200: #DB3C58;
  --sucess100: #087F5B;

  --border-gray: #D9D9D9;
}


body {
  color: var(--gray100);
  font-family: 'IBM Plex Sans', sans-serif;
  
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

dialog {
  border: 0;
  width: 48rem;
  max-height: 80vh;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.primary {
  color: var(--brand100);
}

/* Outdoor */

.introduction {
  width: 50%;
  padding-left: 55px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.introduction__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
}

.introduction .primary {
  color: var(--brand100);
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}

.introduction__text {
  color: var(--gray300);
  font-size: 16px;
  line-height: 150%;
}

.images-container, .box-right, .box-right__top {
  display: flex;
  gap: 18px;
}

.images-container .box-right {
  flex-direction: column; 
}