body {
  overflow: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--gray900);
    font-weight: 500;
    color: var(--gray100);
    line-height: 150%;

  
    display: flex;
  }
  
  .register {
    width: 50%;
    height: 100%;
    padding-right: 55px;
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .register__form {
    width: 369px;
    border: 1px solid var(--border-gray);
    border-radius: 4px;
    background: var(--gray900);
  
    padding: 44px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
  
  .register__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .register__header h2 {
    font-size: 20px;
  }
  
.register__header button {
  height: 32px;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register__form > div, .register__form > button, .register__form > label {
  display: flex;
  width: 100%;
}

.register__form > button {
  display: flex;
  justify-content: center;
  height: 38px;
  font-weight: 500;
}